<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>S Chat</title>
</head>
<body onload="connect()">
<h1>WebSocket Chat</h1>
<ul id="messages"></ul>
<input type="text" id="messageInput" placeholder="Type a message..."/>
<button onclick="sendMessage()">Send</button>
<table>
    <thead>
        <tr>
            <th>닉네임</th>
        </tr>
    </thead>
    <tbody id="pBody">
    </tbody>
</table>
</body>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
</html>
<script>
    let socket;

    function connect() {
        socket = new WebSocket("ws://localhost:8354/chat");

        const randomNickname = "user" + Math.floor(Math.random() * 10000);

        socket.onopen = function() {
            // 연결 후 첫 메시지에 닉네임 전송
            socket.send(JSON.stringify({ type: "open", content: randomNickname }));
        };

        socket.onmessage = function(event) {
            let data = event.data;

            // 참여자 목록을 업데이트하는 메시지인지 확인
            if (data.startsWith("Participants: ")) {
                const participantsList = data.replace("Participants: ", "").split(",");

                // 데이터 추가
                participantsList.forEach(item => {
                    var $tr = $("<tr></tr>");
                    $tr.append($("<td></td>").text(item));
                    $("#pBody").append($tr);
                });

            } else {
                // 일반 채팅 메시지 처리
                let messages = $("#messages");
                messages.append('<li>'+ data +'</li>');
            }
        };
    }

    function sendMessage() {
        let messageInput = $("#messageInput");
        socket.send(JSON.stringify({ type: "message", content: messageInput.val() }));
        messageInput.val("");
    }
</script>
